<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.dingtalk.dao.UserRoleMapper">
	<resultMap id="BaseResultMap" type="com.allmsi.dingtalk.model.po.UserRole">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="roleId" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userId, roleId
	</sql>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into im_ta_user_role (id, userId, roleId)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id}, #{item.userId}, #{item.roleId})
		</foreach>
	</insert>
</mapper>